#main {
    text-align: center;
    align-items: center;
    color: white;
}
#main-body{
    background-image: url("Assets/wp8018066-8k-dark-wallpapers\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;

}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  margin-top: 90px;
   animation: fade 2s ease-in-out;
}

@keyframes fade{
    from {
        opacity : 0;

    }
    to {
        opacity: 1;
    }

   
}
input[type = "text"]{
    width: 600px;
    height: 20px;
}